.main{
    background-color: #fff;
}
.dropdown-toggle{
  background-color: transparent;
  color: #fff;
}   
.dropdown-toggle a{
    color: #fff;
}
.hero-test{
    display: flex;
}
.hero-content-left{
height: 100%;
width: 40%;
display: flex;
justify-content: center;
align-items: center;
background-color: #000;
}
.content-left-center h1,p{
    color:#fff
}
.hero-content-right{
    height: 100%;
width: 60%;
background-color: red;
}

.content-right-top{
    height: 10%;
    width: 100%;
    background-color: yellow;
    display: flex;
    margin: 0;
}
.right-top-left{
    height: 100%;
    width: 30%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
}
.right-top-left, .right-bottom-left h2{
    color: #9012BB;
}
.right-top-right,.right-bottom-right h2{
    color: #fff;
}
.right-top-right{
    height: 100%;
    width: 70%;
    background-color: #9012BB;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;

}

.content-right-center{
    height: 80%;
    width: 100%;
    background-image: url(/img/swim-kid.jpg); 
    background-size: 100%; 
    background-position: 90% center; 
    background-repeat: no-repeat;
    margin: 0;
}
.content-right-bottom{
    height: 10%;
    width: 100%;
    background-color: yellow;
    display: flex;
}
.right-bottom-left{
    height: 100%;
    width: 30%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
}
.right-bottom-right{
    height: 100%;
    width: 70%;
    background-color: #9012BB;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
}